<section fxLayoutAlign="center center">
  <mat-card>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" fxLayout="column" fxLayoutAlign="center center"
          fxLayoutGap="3vh">
      <mat-card-header fxLayoutAlign="center center">
        <div>
          <mat-icon>account_circle</mat-icon>
        </div>
        <mat-card-title>Change your password</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field hintLabel="Please, enter your old password...">
          <input matInput ngModel #oldPassword="ngModel" type="password" placeholder="Old password..."
                 name="oldPassword" required minlength="8">
          <mat-error *ngIf="oldPassword.hasError('required')">Field should not be empty!</mat-error>
          <mat-error *ngIf="oldPassword.hasError('minlength')">Field must contain at least 8 characters!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please, enter minimum 8 characters...">
          <input matInput ngModel #password="ngModel" type="password" placeholder="New password..."
                 name="password" required minlength="8">
          <mat-hint align="end">{{ password.value?.length }} / 8</mat-hint>
          <mat-error *ngIf="password.hasError('required')">Field should not be empty!</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Field must contain at least 8 characters!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please, confirm your password...">
          <input matInput ngModel #confirmPassword="ngModel" type="password" placeholder="New password..."
                 name="confirmPassword" required minlength="8">
          <mat-error *ngIf="confirmPassword.hasError('required')">Field should not be empty!</mat-error>
          <mat-error *ngIf="confirmPassword.hasError('minlength')">Field must contain at least 8 characters!</mat-error>
          <mat-error *ngIf="">Password does not match!</mat-error>
        </mat-form-field>
        <mat-error id="custom-error">{{ error }}</mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="!form.valid" mat-raised-button color="primary" type="submit">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
