<section fxLayoutAlign="center center">
  <mat-card>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" fxLayout="column" fxLayoutAlign="center center"
          fxLayoutGap="3vh">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Registration form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field hintLabel="Please, enter your first name...">
          <input matInput ngModel #firstName="ngModel" type="text" placeholder="First name..."
                 name="firstName" required>
          <mat-error *ngIf="firstName.hasError('required')">Field should not be empty!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please, enter your last name...">
          <input matInput ngModel #lastName="ngModel" type="text" placeholder="Last name..." name="lastName"
                 required>
          <mat-error *ngIf="lastName.hasError('required')">Field should not be empty!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please enter your email...">
          <input matInput ngModel #email="ngModel" type="email" placeholder="Email..." name="email" required
                 email>
          <mat-error *ngIf="email.hasError('required')">Field should not be empty!</mat-error>
          <mat-error *ngIf="!email.hasError('required')">Please use the correct email format!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please, enter your phone number...">
          <input matInput ngModel #phone="ngModel" type="tel" placeholder="Phone number..." name="phone"
                 required>
          <mat-error *ngIf="phone.hasError('required')">Field should not be empty!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please, enter your address...">
          <input matInput ngModel #address="ngModel" type="text" placeholder="Address..." name="address"
                 required>
          <mat-error *ngIf="address.hasError('required')">Field should not be empty!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please, enter your favorite categories...">
          <mat-select [formControl]="categories" multiple placeholder="Favorite categories..." required>
            <mat-option *ngFor="let category of categoryList" [value]="category">{{ category.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="categories.invalid">Field should not be empty!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please, enter minimum 8 characters...">
          <input matInput ngModel #password="ngModel" type="password" placeholder="Password..."
                 name="password" required minlength="8">
          <mat-hint align="end">{{ password.value?.length }} / 8</mat-hint>
          <mat-error *ngIf="password.hasError('required')">Field should not be empty!</mat-error>
          <mat-error *ngIf="confirmPassword.hasError('minlength')">Field must contain at least 8 characters!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please, confirm your password...">
          <input matInput ngModel #confirmPassword="ngModel" type="password" placeholder="Password..."
                 name="confirmPassword" required minlength="8">
          <mat-error *ngIf="confirmPassword.hasError('required')">Field should not be empty!</mat-error>
          <mat-error *ngIf="confirmPassword.hasError('minlength')">Field must contain at least 8 characters!</mat-error>
          <mat-error *ngIf="">Password does not match!</mat-error>
        </mat-form-field>
        <mat-error id="custom-error">{{ error }}</mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="form.invalid || categories.invalid" type="submit" mat-raised-button color="primary">Register</button>
      </mat-card-actions>
    </form>
    <a routerLink="/login">Already have an account? Click here to login!</a>
  </mat-card>
</section>
