section {
  height: 90vh;
}
mat-card {
  width: 90%;
  margin: auto;
}
mat-form-field, mat-card-content, table, .product-container  {
  width: 100%;
}
mat-expansion-panel {
  width: 85%;
  margin: 1vh 1vw;
}
.col {
  width: 15vw;
}
.row {
  border-bottom: 1px solid black;
  margin-bottom: 0vh;
}
h4 {
  margin-bottom: 0vh;
}
